// Variables
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
// Breakpoints

// TODO: Restucture - to much repetion
$bp-mobile-phone          : "max-width: 549px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Color
$white: #FFFFFF !default;
$light-gray: #f4f4f4 !default;
$dark-blue: #323840 !default;
$dark-gray: #333 !default
$green: #5fcca9 !default;
$black: #212121 !default;
$lt-blue: #03A9F4 !default;
$blue: #42A5F5 !default;
$blue-gray: #607D8B !default;
$orange: #F44336 !default;
$base-color: $black !default;
$primary-color: $blue !default;
$secondary-color: $orange !default;
$tertiary-color: $blue-gray !default;
$link-color: $white !default;
$font-color: #000000 !default;
$border-color: #E8E8E8 !default;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Grid Variables
$container-width: 1060px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-cols: 12 !default;
$col-width: 100 / $total-cols !default; // Calcs individual width base off of number of cols
$col-margin: 4% !default;

// Border-radius
$global-radius: 4px;

$book: 200 !default;
$medium: 400 !default;
$bold: 600 !default;
