doctype html
html(lang="en")
  head
    title= 'Studio7 - Transparent Website Consultants'
    meta(name='description', content='Transparent Website Consulting - Global')
    meta(name='keywords', content='Transparent Web Consulting, Web, Development, html, css, design, branding, consulting')
    meta(name='author', content='Jeramee Flemming')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='google-site-verification', content='X5pYQRc5shPEfxv8wm_xN-mBkmYfVm20DMwx_v2khAo')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/skeleton.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css', type='text/css')
    link(rel='stylesheet', href='http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css')
    link(rel='stylesheet', href='http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js')
    script(src='http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js')

  body#home
    header.header
      .container
        .logo
          h3.mb-0.text-uppercase.bold Studio
            span.text-green 7
          .caption Transparent. Web. Consulting.
        input#menu-btn.menu-btn(type='checkbox')
        label.menu-icon(for='menu-btn')
          span.navicon
        ul.menu
          li
            a(href='#home') Home
          li
            a(href="#services") Services
          li
            a(href="#clients") Clients
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
          li
            a.btn.btn-green.btn-nav.xs-block(href='#contact') Request a quote

    //- _HeroUnit
    #home-hero.container-full(data-aos='fade-in' data-aos-delay="0")
      .row
        .twelve.cols.float-none
          .hero-static
            .hero-img-holder
              #particles-js.text-uppercase.bold

            .hero-copy.twelve.cols.text-center
              .row.mb-50
                .seven.cols.col-centered
                  .banner
                    .typed_wrap
                      h1.mb-10 We Are
                      h1.typed
              span
                .twelve.cols
                  .bounce.fa.fa-angle-double-down.fa-3x.text-green

    a.scroll-spacing
    section.services#services
      .container
        .row
          .nine.cols.text-center.col-centered
            h1.text-uppercase.bold.mb-10 Services provided
        .row.mt-20
          .three.cols(data-aos='fade-up' data-aos-delay="100" data-aos-offset="100")
            h4.text-uppercase.book.mb-10 Digital Branding
            p Interlace creative design with solid marketing and branding principles to bring you a strong brand.
          .three.cols(data-aos='fade-up' data-aos-delay="100" data-aos-offset="150")
            h4.text-uppercase.book.mb-10 SEO Optimization
            p Helping you stand out from the competition by bringing you to the front page of search results.
          .three.cols(data-aos='fade-up' data-aos-delay="100" data-aos-offset="200")
            h4.text-uppercase.book.mb-10 Out Perform
            p Finding the percise method to reach your audience can be tough, don't worry we can help with that too.
          .three.cols(data-aos='fade-up' data-aos-delay="100" data-aos-offset="250")
            h4.text-uppercase.book.mb-10 +Conversion
            p Each page has a clearly defined conversion goal we work just as hard a your business to achieve.

    section.about-us.background-gray.slanted-background#about
      .container
        .six.cols.pr-30
          h1.text-uppercase.bold Rendering high quality and cost effective solutions
          hr
          h5 Our Goal, since the beginning has been to create a unique and captivating experience for both the client and user.
          p.medium With years of experience in the website design and development industry, we pride ourselves on creating unique, creative and quality websites. We utilze the latest coding and developing techniques, from which are then integrated into every website built. Every website is upheld to this standard.
          a.btn.btn-green.btn-large.xs-block(href='#contact') Request a quote
    
    section
      .container
        .row
          .twelve.cols.text-center
            h6.mb-0 We love what we do
            h1.text-uppercase.bold Our Work
            hr.green.two.cols.col-centered.mt-0.mb-20

      .latest-work
        .row
          .twelve.cols.col-centered
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/soar.jpg' data-aos='zoom-in-up')
              .workOverlay
                .text
                  h1 Soar
                  h6 Design &amp; Development
                  a.btn.btn-dark-gray(href="http://www.soarequities.com" target='_blank') Launch Site
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/duvi.jpg' data-aos='zoom-in-up' data-aos-delay="100")
              .workOverlay
                .text
                  h1 Duvi Stahler
                  h6 Redesign &amp; Develop
                  a.btn.btn-dark-gray(href="http://www.duvistalher.com" target='_blank') Launch Site
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/ug.jpg' data-aos='zoom-in-up' data-aos-delay="200")
              .workOverlay
                .text
                  h1 Unlocking Greatness
                  h6 Design &amp; Development
                  a.btn.btn-dark-gray(href="http://www.unlockinggreatnessbook.com" target='_blank') Launch Site
        .row
          .twelve.cols.col-centered
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/filemaker.jpg' data-aos='zoom-in-up' data-aos-delay="300")
              .workOverlay
                .text
                  h1 FileMaker
                  h6 Design &amp; Development
                  a.btn.btn-dark-gray(href="http://www.filemaker.com" target='_blank') Launch Site
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/eventseeker.jpg' data-aos='zoom-in-up' data-aos-delay="400")
              .workOverlay
                .text
                  h1 Eventseeker
                  h6 Blog Development
                  a.btn.btn-dark-gray(href="http://www.blog.eventseeker.com" target='_blank') Launch Site
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/loinsf.jpg' data-aos='zoom-in-up' data-aos-delay="500")
              .workOverlay
                .text
                  h1 The LoinSf
                  h6 eCommerce Development
                  a.btn.btn-dark-gray(href="http://www.theloinsf.com" target='_blank') Launch Site

        .row
          .twelve.cols.col-centered
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/rts.jpg' data-aos='zoom-in-up' data-aos-delay="600")
              .workOverlay
                .text
                  h1 Rape Trauma Services
                  h6 Design &amp; Development
                  a.btn.btn-dark-gray(href="http://www.rapetraumaservices.org" target='_blank') Launch Site
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/jfwd.jpg' data-aos='zoom-in-up' data-aos-delay="700")
              .workOverlay
                .text
                  h1 Jf-Wd
                  h6 Portfolio Development
                  a.btn.btn-dark-gray(href="http://www.jf-wd.com" target='_blank') Launch Site
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/hired.jpg' data-aos='zoom-in-up' data-aos-delay="800")
              .workOverlay
                .text
                  h1 Hired
                  h6 Rebranding &amp; Development
                  a.btn.btn-dark-gray(href="http://www.hired.com" target='_blank') Launch Site

        .row
          .twelve.cols.col-centered
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/toyota.jpg' data-aos='zoom-in-up' data-aos-delay="900")
              .workOverlay
                .text
                  h1 Toyota
                  h6 Landing Page Development
                  a.btn.btn-dark-gray(href="http://toyota.com/" target='_blank') Launch Site
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/mca.jpg' data-aos='zoom-in-up' data-aos-delay="1000")
              .workOverlay
                .text
                  h1 MCAHomes
                  h6 Real Estate Portfolio
                  a.btn.btn-dark-gray(href="http://mcahomesolutions.com/" target='_blank') Launch Site
            .latest-work--item.four.cols
              img.latestWorkImg(src='images/client/adcolony.jpg' data-aos='zoom-in-up' data-aos-delay="1100")
              .workOverlay
                .text
                  h1 AdColony
                  h6 Ad Platform Development
                  a.btn.btn-dark-gray(href="http://www.operamediaworks.com" target='_blank') Launch Site
      .clients
        .container
          h2.medium.text-center.text-uppercase Our Clients
          hr.xs-no-display.green.two.cols.col-centered.mt-0.mb-20
          .row.mt-40
            .client-slider
              div
                img(src='images/client-logo/giants.png' data-aos='fade-in' data-aos-delay="100")
              div
                img(src='images/client-logo/eventseeker.png' data-aos='fade-in' data-aos-delay="100")
              div
                img(src='images/client-logo/opera.png' data-aos='fade-in' data-aos-delay="100")
              div
                img(src='images/client-logo/mcdonalds.png' data-aos='fade-in' data-aos-delay="100")
              div
                img(src='images/client-logo/toyota.png' data-aos='fade-in' data-aos-delay="100")
              div
                img(src='images/client-logo/hnlpartners.png' data-aos='fade-in' data-aos-delay="100")
              div
                img(src='images/client-logo/oakland.png' data-aos='fade-in' data-aos-delay="100")
              div
                img(src='images/client-logo/filemaker.png' data-aos='fade-in' data-aos-delay="100")
                  
                  
    section.background-dark-blue.border-left--thick.slanted-background
      .container
        .row.mt-10
          .nine.cols
            h3.bold.mb-0 We'd love to hear about your project!
            h5.book.mt-0 Let's talk. No project is too big or small.
          .three.cols
            a.btn.btn-green.btn-large.mt-20(href='#contact') Request a quote
            
    section.our-process
      .container
        .row
          .twelve.cols.text-center
            h6.mb-0 How we get stuff done
            h1.text-uppercase.bold Process
            hr.xs-no-display.green.two.cols.col-centered.mt-0.mb-20
        .row.mt-30
          .three.cols(data-aos='fade-up' data-aos-delay="100")
            .process-circle
              .process-number 01
            h4.text-center  Discussing the Idea
            p.text-center Whether it's on a whiteboard or bar napkin, we take the time to understand your companies vision.
          .three.cols(data-aos='fade-up' data-aos-delay="250")
            .process-circle
              .process-number 02
            h4.text-center  Design Mockups
            p.text-center Using the latest software, we build your website based on a grid system. That way we can ensure the site looks great on all devices.
          .three.cols(data-aos='fade-up' data-aos-delay="350")
            .process-circle
              .process-number 03
            h4.text-center  Development
            p.text-center Using the latest software, we mock up your website based on a grid system, ensuring that the website looks great on all devices.
          .three.cols(data-aos='fade-up' data-aos-delay="450")
            .process-circle
              .process-number 04
            h4.text-center  Launch
            p.text-center Let's get your super awesome website out to the public. Crack open the champagne it's time to celebrate.
          .wings.xs-no-display(data-aos='fade-right' data-aos-delay="550")

    section.testimonial-container.background-dark-blue
      .container
        .row
          .twelve.cols.text-center
            h6.mb-0 Real People with Real Results
            h1.bold.text-uppercase What people are saying
      .container.mt-40
        .row
          .testimonial-slider
            div
              .testimonial-box
                p Studio7 was a breeze to work with. They did everything I asked and were patient with me and my schedule. They also were very knowledgeable and delivered quality work.
              .testimonial-attribute.pl-50.mt-15
                h5.mb-0.book.text-uppercase Ray Allen
                p.bold.text-uppercase Real Estate Agent
              
            div
              .testimonial-box
                p Studio7 was amazing to work with. He's creative and understands the client's needs. He has great communication skills and really follows through with deadlines. I would recommend working with Jeramee to everyone, and will definitely contact him again if another job appears!
              .testimonial-attribute.pl-50.mt-15
                h5.mb-0.book.text-uppercase Nicole Kiran
                p.bold.text-uppercase Frikadell
            div
              .testimonial-box
                p Studio7  did a terrific job on my project. It was a small one, but he gave it equal attention as if it was much larger. Great job!
              .testimonial-attribute.pl-50.mt-15
                h5.mb-0.book.text-uppercase Mitchell Caplan
                p.bold.text-uppercase Author
            div
              .testimonial-box
                p Studio7 was great in all respects. He was communicative, available and quick to make any changes that were necessary. He really took the time to make sure every aspect of the website worked well.
              .testimonial-attribute.pl-50.mt-15
                h5.mb-0.book.text-uppercase David Stalher
                p.bold.text-uppercase Marketing Specialist
            div
              .testimonial-box
                p Studio7 was great in all respects. He was communicative, available and quick to make any changes that were necessary. He really took the time to make sure every aspect of the website worked well.
              .testimonial-attribute.pl-50.mt-15
                h5.mb-0.book.text-uppercase Pierce Gaynor
                p.bold.text-uppercase Real Estate Agent

    section.contact-us#contact
      .container
        .row
          .six.cols
            h1.mb-0.bold.text-uppercase Get in touch
            h5 Get in Touch Today to Get a Free Quote
            hr.green.mt-0
            p We would love to hear about your project and how we can collaborate to get the job done.
            p Not quite ready for a project, but want to see how much it might cost? Feel free to contact us, we are more than happy to hear your vision and give you an estimate on pricing.
            p.bold If it's an emergency feel free to reach out directly via email @
              span
                a.text-dark-gray(href="mailto:'studio7inquiry@gmail.com'") Studio7
          .six.cols.float-right
            script(src="https://form.jotform.com/jsform/80647736784168")

    section.footer.background-dark-blue
      .container
        a#scroll(href='#', style='display: none;')
          span
        .row
          .six.cols.xs-text-center
            h3.mb-0.text-uppercase.bold Studio
              span.text-green 7
            ul.ml-0.mb-0.mt-0
              li
                a(href="#home") Home
                  span.pl-10 |
              li
                a(href="#services") Services
                  span.pl-10 |
              li
                a(href="#clients") Clients
                  span.pl-10 |
              li
                a(href="#about") About
                  span.pl-10 |
              li
                a(href="#contact") Contact
          .six.cols
            p.copyright.mt-20.text-right.xs-text-center &copy;Copyright 2018

      script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
      script(src='js/scripts.js')
      script(src='js/driftmsgclient.js')
