.slider{
  margin-top: 30px;
}

// Centers images
.slick-initialized{
  .slick-slide {
      display: inline-block !important;
      vertical-align: middle;
      float: none;
  }
}

@media (#{$bp-mobile-phone}) {
  .slider{
    margin-top: 0px;
  }
}
